<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookbook</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <a href="/recipes">
        <img src="/images/cookbooklogo.png">
      </a>
      </div>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/recipes" <%= title === 'All Recipes' ? 'class="active"' : '' %>>Recipe List</a></li>
      <% if (user) { %>
        <li><a href="/recipes/new" <%= title === 'Add Recipe' ? 'class="active"' : '' %>>Add Recipe</a></li>
        <li><a href="/mycookbook" class="<%= title === 'myCookbook' ? 'active' : '' %>">myCookbook</a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/auth/google" class="login">Sign In</a></li>
      <% } %>
    </ul>
  </nav>
  
</body>
</html>
