<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookbook</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <img src="/images/cookbooklogo.png" alt="Cookbook Logo">
      </div>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/recipes/new">New Recipe</a></li>
      <li><a href="#">My Cookbook</a></li>
      <li><a href="#">Recipe List</a></li>
    </ul>
  </nav>
</body>
</html>
