@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

nav {
  background-color: #f6b831;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #f6b831;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
}

tr {
  text-align: center;
  border-bottom: 2px solid #f6b831
}

tr:hover {
  background-color: #f0f0f0;
  border-bottom: 2px solid #b35d00;
  cursor: pointer;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  display: inline;
}

th {
  background-color: #f6b831;
  color: white;
  padding: 10px;
}

th img,
td img {
  opacity: 0.5;
}

th img:hover,
td img:hover {
  opacity: 1.0;
}



td {
  padding: 10px;
  width: calc(100% / 4);
}

li:hover {
  background-color: #b35d00;
  color: white;
}

.logo img {
  max-width: 320px;
}

.logo a:hover {
  background-color: white;
}

.recipe-container label {
  background-color: #f6b831;
  color: white;
  padding: 5px;
}

.recipe-name {
  font-size: 24;
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 20px;
}

.recipe-header {
  display: block;
  text-align: center;
}

.recipe-timings {
  display: flex;
  justify-content: space-evenly;
  background-color: #f6b831;
}

.timing {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.timing p {
  margin: 0;
}
.description p{
  text-align: center;
  font-weight: bold;
}

.recipe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-left,
.column-right {
  flex: 1;
}

.directions-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;;
}

.ingredients-container,
.directions-container {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ingredients-container img {
  max-width: 100%;
}

.directions-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media (min-width: 768px) {
  .recipe-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .column-left {
    margin-right: 20px;
  }

  .directions-container {
    width: auto;
    margin: 20px 0;
  }
}
.recipe-image {
  max-width: 390px;
  max-height: 585px;
}

@media (max-width: 767px) {
  .ingredients-container img,
  .recipe-image {
    max-width: 50%;
  }
}

#recipe-description {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.recipe-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
}

textarea {
  font-family: inherit;
  font-size: 1rem;
}

::placeholder {
  font-family: inherit;
}

button {
  background-color: #f6b831;
  color: #fff;
  text-transform: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.reviews-section {
  align-items: center;
  text-align: center;
}

.review-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  width: 50%;
}

.review-user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.review-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-content {
  margin-left: 50px;
}

.review-content p {
  margin: 0;
  font-size: 16px;
}

.review-date {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.review-delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #888;
  align-items: center;
}
.review-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.review-form button {
  position: absolute;
  bottom: 2px;
}

.custom-button {
  padding: 1px;
  display: inline;
  vertical-align: middle;
  margin: 0 2px;
}

.action-cell {
  text-align: center;
  background-color: #f6b831;
}

.cropped-ofp {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
  object-position: 25% 25%; 
  }