@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

nav {
  background-color: #f6b831;
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #f6b831;
}
nav ul li a:hover {
  background-color: #f0f0f0;
  color: black;
}

tr {
  text-align: center;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #b35d00;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  background-color: #f6b831;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(100% / 3);
}

.logo img {
  max-width: 320px;
}

.logo a:hover {
  background-color: white;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}


label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-control {
  resize: vertical;
}

button {
  background-color: #f6b831;
  color: #fff;
  text-transform: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b35d00;
}

.review-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.review-user {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.review-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-content {
  margin-left: 50px;
}

.review-content p {
  margin: 0;
  font-size: 16px;
}

.review-date {
  font-size: 12px;
  color: #888;
}

.review-delete {
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.review-delete:hover {
  color: red;
}