<%- include('../partials/header') %>

<div class="container">
  <h2>Enter a New Recipe</h2>
  <form action="/recipes" method="POST" class="recipe-form">
    <div class="form-group">
      <label>Recipe Name:</label>
      <input type="text" name="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Category:</label>
      <select name="category" class="form-control" required>
        <option value="" disabled selected>Select category</option>
        <option value="American">American</option>
        <option value="Chinese">Chinese</option>
        <option value="French">French</option>
        <option value="Greek">German</option>
        <option value="Greek">Greek</option>
        <option value="Indian">Indian</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Korean">Korean</option>
        <option value="Mexican">Mexican</option>
        <option value="Spanish">Spanish</option>
        <option value="Thai">Thai</option>
        <option value="Vietnamese">Vietnamese</option>
      </select>
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="url" name="image" class="form-control" placeholder="Enter image URL ex. https://i.imgur.com/mdw1d91.jpeg">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control" rows="1" maxlength="100" placeholder="ex. Best Meatloaf Ever!" required></textarea>
    </div>
    <div class="form-group">
      <label>Ingredients:</label>
      <textarea name="ingredients" class="form-control" rows="4" required></textarea>
    </div>
    <div class="form-group">
      <label>Directions:</label>
      <textarea  name="directions" class="form-control" rows="4" required></textarea>
    </div>
    <div class="form-group">
      <label>Prep Time (minutes):</label>
      <input type="number" name="prepTime" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Cook Time (minutes):</label>
      <input type="number" name="cookTime" class="form-control" required>
    </div>
      <br><br>
    <button type="submit">Submit</button>
  </form>
</div>

<%- include('../partials/footer') %>